


<div style='background-color:#962a66;color:white;padding:8px;'>
    <div>
        Dear <b>##FIRSTNAME##</b>
        <p>Thanks for writing to me in <a style='color:gold;' href='http://harishs-ecom-app.azurewebsites.net'>harishs-ecom-app</a></p>
        <p> I especially appreciate your visti to my site and spending your precious to provide feedback.Your assistance has been invaluable to me during this process.</p>
        <p> Again, thank you so much.I greatly appreciate your generosity.</p>
        'Best Regards,<br />Harish<br />
        <small> This message is sent to you because your email address is entered in contact form in <a style='color:gold;' href='http://harishs-ecom-app.azurewebsites.net'> harishs-ecom-app </a>, please ignore this mail if you are not intended recipient.</small>
    </div>
</div>