@{
    ViewData["Title"] = "About";
}
<h3>About my appliction.</h3>

<p>
    This a simple MVC6, EF core application which is developed just to gather my asp.net core
    web development knowledge in a application, currently this is a very basic site, alot more features
    will be addded as I get more to spend on it. :)
</p>
<p>Team size : 1 software developer</p>
<p>Short description on the technologies used to develop this site</p>
<ul>
    <li>
        ASP.NET Core 2.0
    </li>
    <li class="">
        MVC 6
    </li>
    <li>
        Entity framework core
    </li>
    <li>Bootstrap</li>
    <li>
        Microsoft Azure cloud services
    </li>
    <li>
        Gulp task automation
    </li>
    <li>
        MS SQL
    </li>
    <li>
        JavaScript and Jquery
    </li>
    <li>
        HTML5 and CSS
    </li>
    <li>
        Version control : Github
    </li>
    <li>
        Continous deployments
    </li>
</ul>
<div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-4">
        <button type="submit" class="btn btn-warning" onclick='window.location.href = "/about/me"' >Like to know about developer? <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</div>
<br />
