
@{
    ViewData["Title"] = "Index";
}
<style>
   
</style>
<div>
    <fieldset>
        <legend>About developer</legend>
        <img src="~/images/harish.JPG" class="img-rounded center-block profile-img" />
        <article>
            <section>
              <p>Myself <b>Harish Reddy M</b> Working as <b>Software develper</b> since  Jan 2015.
                started my career in software devleopment after graduating from MVJ College of engineering, Bangalore with the four years of UG course in biotechnology engineering.</p>
                <br />
                <p>Current work experience starting from Jan 2015 : <b class="years-of-exp"></b></p>
                <br />
               <p>I joined <a href="http://www.retail2customer.com/">Retail2Customer business consulting</a> as software intern where I worked with a team of excellent people for four month. 
                Then joined <a>Liventus technology services private limited</a> on June 01, 2015, as associate software developer and started working on 
                challenging problems to find solutions to those problem, hence making my self stronger and stronger in my skills. 
                </p>
                I found more interested in software engineering and also I found that I am good in it :), so I took a decision to build my
                career in software development and am doing good in it.
            </section>
        </article>
        <article>
            <section>
                <a class="btn btn-success" href="https://in.linkedin.com/in/hreddy0808">Find me on LinkenIn</a>
            </section>
        </article>
    </fieldset>
    <h2></h2>
    
</div>